src/main/resources/wsdl/bankAccountDetailsWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://tharaka.com/corebank/model" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tharaka.com/corebank/model" targetNamespace="http://tharaka.com/corebank/model">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tharaka.com/corebank/model">

    <xs:element name="getAccountBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNo" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAccountBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getTotalAccountBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTotalAccountBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fundTransferToOwnAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fromAccountNo" type="xs:int"/>
                <xs:element name="toAccountNo" type="xs:int"/>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fundTransferToOwnAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account" type="tns:account"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fundTransferToOtherAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fromAccountNo" type="xs:int"/>
                <xs:element name="toAccountNo" type="xs:int"/>
                <xs:element name="bankCode" type="xs:int"/>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fundTransferToOtherAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account" type="tns:account"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="account">
        <xs:sequence>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="accountNo" type="xs:int"/>
            <xs:element name="balance" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAccountBalanceRequest">
    <wsdl:part element="tns:getAccountBalanceRequest" name="getAccountBalanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalAccountBalanceRequest">
    <wsdl:part element="tns:getTotalAccountBalanceRequest" name="getTotalAccountBalanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountBalanceResponse">
    <wsdl:part element="tns:getAccountBalanceResponse" name="getAccountBalanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fundTransferToOtherAccountRequest">
    <wsdl:part element="tns:fundTransferToOtherAccountRequest" name="fundTransferToOtherAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fundTransferToOtherAccountResponse">
    <wsdl:part element="tns:fundTransferToOtherAccountResponse" name="fundTransferToOtherAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fundTransferToOwnAccountResponse">
    <wsdl:part element="tns:fundTransferToOwnAccountResponse" name="fundTransferToOwnAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fundTransferToOwnAccountRequest">
    <wsdl:part element="tns:fundTransferToOwnAccountRequest" name="fundTransferToOwnAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalAccountBalanceResponse">
    <wsdl:part element="tns:getTotalAccountBalanceResponse" name="getTotalAccountBalanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountServicePort">
    <wsdl:operation name="getAccountBalance">
      <wsdl:input message="tns:getAccountBalanceRequest" name="getAccountBalanceRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAccountBalanceResponse" name="getAccountBalanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalAccountBalance">
      <wsdl:input message="tns:getTotalAccountBalanceRequest" name="getTotalAccountBalanceRequest">
    </wsdl:input>
      <wsdl:output message="tns:getTotalAccountBalanceResponse" name="getTotalAccountBalanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundTransferToOtherAccount">
      <wsdl:input message="tns:fundTransferToOtherAccountRequest" name="fundTransferToOtherAccountRequest">
    </wsdl:input>
      <wsdl:output message="tns:fundTransferToOtherAccountResponse" name="fundTransferToOtherAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundTransferToOwnAccount">
      <wsdl:input message="tns:fundTransferToOwnAccountRequest" name="fundTransferToOwnAccountRequest">
    </wsdl:input>
      <wsdl:output message="tns:fundTransferToOwnAccountResponse" name="fundTransferToOwnAccountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServicePortSoap11" type="tns:AccountServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccountBalance">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAccountBalanceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalAccountBalance">
      <soap:operation soapAction=""/>
      <wsdl:input name="getTotalAccountBalanceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTotalAccountBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundTransferToOtherAccount">
      <soap:operation soapAction=""/>
      <wsdl:input name="fundTransferToOtherAccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fundTransferToOtherAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundTransferToOwnAccount">
      <soap:operation soapAction=""/>
      <wsdl:input name="fundTransferToOwnAccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fundTransferToOwnAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServicePortService">
    <wsdl:port binding="tns:AccountServicePortSoap11" name="AccountServicePortSoap11">
      <soap:address location="http://localhost:8090/soapWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>